@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 1140px / 2);
  padding-right: calc(50% - 1140px / 2);
}

.featuredItems {
  padding-top: 96px;
  padding-bottom: 63px;
  padding-left: calc(50% - 1140px / 2);
  padding-right: calc(50% - 1140px / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.describtion {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
}

.img {
  max-width: 360px;
}

.textContent {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.name {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart {
  background-color: white;
  padding-top: 96px;
  padding-bottom: 96px;
  display: none;
  flex-direction: column;
}

.cartTitle {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 64px;
  text-align: center;
}

.cartBox {
  padding-left: calc(50% - 1140px / 2);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-item {
  display: flex;
  width: 652px;
  box-shadow: 10px 12px 25px 0px rgba(34, 60, 80, 0.2);
}

.cart-item-img {
  max-width: 262px;
}

.cart__describtion {
  padding: 22px 22px 22px 31px;
  width: 390px;
}

.cart__details {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 6px;
color: #575757;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.cart__item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart__item-name {
  width: 262px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
}

.cart__item-close {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.accent {
  color: #EF5B70;
}

.quanity {
  display: flex;
  gap: 24px;
}

.input{
  width: 44px;
height: 25px;
border: 1px solid #eaeaea;
display: flex;
justify-content: center;
color: #656565;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}